@import url("https://use.typekit.net/hxk0yne.css");

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(222, 231, 144, 0.366);
    font-family: area-extended, sans-serif;
    color: rgb(27, 26, 26);
}

img {
    width: 100%;
}

header {
    background-color: rgb(236, 236, 204);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
}

header nav li {
    display: inline;
}

header img {
    width: 100px;
}

header input {
    padding: 4px 10px;
    border-radius: 20px;
    width: 100px;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

header i {
    margin-left: 10px;
    color: rgb(12, 12, 12);
    font-size: 17px;
}

header i:hover {
    color: rgb(246, 20, 20);
}

header nav li a {
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

header nav li a:hover {
    color: rgb(245, 33, 33);
}

video {
    width: 100%;
}

main {
    padding: 20px;
}

footer {
    padding: 20px;
}

section {
    margin-bottom: 4rem;
}

h2 {
    margin-bottom: 4rem;
}

figcaption {
    position: absolute;
    bottom: 10%;
    left: 25%;
    border-radius: 20px;
    padding: 10px;
    background-color: burlywood;
    color: saddlebrown;
}
figure {
    position: relative;
}