body {
    background-color: darkblue;
}

header, #about, footer {
    margin: 5%;
    background-color: cornflowerblue;
}


#about {
    display: flex;
    border: 2px solid darkblue
}

.col {
    padding: 20px;
    flex: 1;
}

.right {
    flex: 2;
    border-left: 3px solid darkblue
}